* {
  color: white;
}

body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: lightgrey;
}

h1 {
  color: black;
  margin-left: 20px;
}

h2 {
  margin-top: 20px;
}
div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#channels {
  display: flex;
  flex-wrap: wrap;
}
.channel {
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 10px;
  width: 900px;
  height: auto;
  overflow: hidden;
  display: flex;
}
.channel-description {
  width: 600px;
  margin-top: auto;
}

.right {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: start;
  margin-left: 50px;
}
.channel-content {
  padding: 10px;
}
h2 {
  margin-top: 50px;
}
img {
  width: 200px;
  height: 200px;
  border: rgb(255, 255, 255) solid 1px;
}
audio {
  width: 400px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
